@charset"utf-8";
header, nav, section, article, aside,footer
{border:1px solid gray; margin:5px; padding:8px;width:1030px;}
header img{width:975px;height:200px;}

section{width:775px; float:left;}
section section{width:750px;float:left;}
section section section{width:725px;float:left;}

aside{width:230px;float:left;line-height:90px;}

footer{height:100px;clear:both;}

nav ul{margin:0;padding:0;}
nav ul li{display:inline; margin:5px;}

aside ul{margin:0; padding:0;}
aside ul li{display:block;margin:5px;}
aside ul li img{width:50px;height:50px;}

a:link{ color:blue;background-color:transparent;text-decoration:none;}
a:visited{ color:pink;background-color:transparent;text-decoration:none;}
a:hover{color:red;background-color:transparent;text-decoration:underline;}
a:active{ color:blue;background-color:transparent;text-decoration;none;}

.g1{color:#22dd9b;}
.g2{color:#4db3a0;}
.r1{color:#b34d60;}
